.sidebar {
    max-width: 240px;
    height: 100%;
   overflow: auto;
    background-image: linear-gradient(to top, rgb(1, 10, 20), rgb(0, 7, 14));
}
  

.mainContent{
    margin-left: 240px;
    height: 100%;;
    background-color:rgb(230, 224, 224);
}